<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>主页</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src="https://www.easyicon.net/api/resizeApi.php?id=1214356&size=128 " />

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">主页 <span class="sr-only">(current)</span></a></li>
          <li><a href="/album">相册</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">选择 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/loginAsp">登录</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">操作 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="page-header">
    <h1>记忆碎片 <small>开始存储</small></h1>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img
          src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569578341024&di=d5298749b06b06140290de608a600baf&imgtype=0&src=http%3A%2F%2Fwww.austargroup.com%2Fuploadfiles%2F2016%2F11%2F20161104110848848.jpg"
          alt="...">
        <div class="caption">
          <h3>爱尔兰</h3>
          <p>爱尔兰共和国（爱尔兰语：Poblacht na hÉireann；英语：Republic of
            Ireland），简称“爱尔兰”（Ireland），是一个西欧的议会共和制国家，西临大西洋，东靠爱尔兰海，与英国隔海相望，是北美通向欧洲的通道，爱尔兰自然环境保持得相当好，素有“翡翠岛国”之称，全国绿树成荫，河流纵横。草地遍布，所以又有“绿岛”和“绿宝石”之称。它的大学教育非常成熟，首都都柏林自中世纪起就被誉为大学城。国内气候温和，各地的气温相对均衡。5~6月份是一年中阳光最充足的时期，比较适宜旅行
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
              role="button">Button</a></p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img
          src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569578449110&di=4a5384f408259c0d95a198de4f2e34fd&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1607%2F02%2Fc13%2F23678492_1467473643135.jpg"
          alt="...">
        <div class="caption">
          <h3>冰岛</h3>
          <p>冰岛共和国（冰岛语：Lýðveldið
            Ísland），简称冰岛，是北大西洋中的一个岛国。位于大西洋和北冰洋的交汇处，北欧五国之一，国土面积为10.3万平方千米，人口约为34万，是欧洲人口密度最小的国家。首都是雷克雅未克，也是冰岛的最大城市，首都附近的西南地区人口占全国的2/3。
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
              role="button">Button</a></p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img
          src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1569578508410&di=b6a607ef00882ca57359feaa43dda16b&imgtype=0&src=http%3A%2F%2Fr.lvyouquan.cn%2Flyqpic%2Fhold%2F2017-05-24%2Fimage%2F20170524%2F20170524111111_0003.jpg"
          alt="...">
        <div class="caption">
          <h3>西西里岛</h3>
          <p>
            西西里岛位于意大利南部，地中海中部，形状类似一个三角形，东北端隔3千米宽的墨西拿海峡与亚平宁半岛相望。岛上多丘陵，地处典型的地中海气候，冬季温暖潮湿，而夏季则干燥炎热，沿海地区，尤其是西南方的部分，气候也受到非洲大陆影响所以夏天更为酷热，最高温可达48℃。
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
              role="button">Button</a></p>
        </div>
      </div>

    </div>
  </div>
  <script src='/static/js/jquery-3.4.1.min.js'></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>